# Системные файлы
.vscode/
.DS_Store
Thumbs.db

# Логи и ошибки Ren'Py
log.txt
errors.txt
traceback.txt

# Скомпилированные файлы (ОБЯЗАТЕЛЬНО игнорировать)
*.rpyc
*.rpymc
*.rpyb

# Папки кэша и сохранений
game/cache/
game/saves/
cache/
tmp/

# Бэкапы
*.bak