# Системные файлы
.vscode/
.DS_Store
Thumbs.db

# Логи и ошибки Ren'Py
log.txt
errors.txt
traceback.txt
files.txt
progressive-download.txt
audio_errors.txt
image_errors.txt

# Скомпилированные файлы (ОБЯЗАТЕЛЬНО игнорировать)
*.rpyc
*.rpymc
*.rpyb
*.pyc
__pycache__/
*.disabled

# Папки кэша и сохранений
game/cache/
game/saves/
cache/
tmp/
saves/

#Disabled папка (director cut)
disabled/

# Бэкапы
*.bak
*.new
*.zip
backups/

# devtools
game/dlc_manifest.json

# Билды и дистрибутивы (сборки игры)
*-dists/
*-market/
*-dest/
release/

# Ключи и сертификаты (безопасность)
android.keystore
bundle.keystore
