saves
.vscode
errors.txt
log.txt
cache
traceback.txt
.gitignore
game/cache
game/cache/shaders.txt
game/cache/screens.rpyb
game/cache/py3analysis.rpyb
game/cache/bytecode-39.rpyb
*.rpyc
!spec/*.rpyc
.rpyc
renpy_warp
game/tl/None/common.rpymc
game/screens.rpyc
game/options.rpyc
game/init.rpyc
game/gui.rpyc
